<p>Frame Editor</p>

<canvas class="image-style" [style.background-image]="'url(' + imageUrl + ')'" height="600" width="600"></canvas>

<p>image url: <input type="text" [(ngModel)]="imageUrl"></p>
<ol><li *ngFor="let boxType of boxTypes">
  {{boxType.name}}
  <ol><li *ngFor="let box of boxes[boxType.name]">
    <app-box-details [box]="box" [boxType]="boxType" [redraw]="getRedraw()"></app-box-details>
  </li></ol>
  <button (click)="addBox(boxType.name)">Add Box</button>
</li></ol>

<p></p>
<pre>{{stringify()}}</pre>