<div *ngIf="box">
  Left: <input type="number" [(ngModel)]="box.square.left" (ngModelChange)="redraw()">
  Bottom: <input type="number" [(ngModel)]="box.square.bottom" (ngModelChange)="redraw()">
  Right: <input type="number" [(ngModel)]="box.square.right" (ngModelChange)="redraw()">
  Top: <input type="number" [(ngModel)]="box.square.top" (ngModelChange)="redraw()">
  <div *ngIf="boxType.numbers">
    <ol><li *ngFor="let numberName of boxType.numbers">
      {{ numberName }}: <input type="number" [(ngModel)]="box[numberName]">
    </li></ol>
  </div>
</div>